*{
font-family: 'Montserrat', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Questrial', sans-serif;
font-family: 'Syne', sans-serif;
font-family: 'Work Sans', sans-serif;


}

body {

  font-weight: 800;
  font-size: 24px;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0px;
  background:#0d1117;
  color: white;

}
  

  



.image3D {
  
  height: 70%;
  width: 70%;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 1; 
 margin-left: 200px;
 
}


/* HEADER */

.header-container{
  display: flex;
  justify-content: center;
  position: relative; /* Position relative pour le z-index */
  z-index: 2; /* z-index plus élevé pour superposer sur l'image 3D */
  

}

nav{
  display: flex;
  flex-direction: row;
  
}

a{
  color: white;
}



header{
  padding: 30px 25px;
}

header nav{
  width: 600px;
} 

  
header ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  list-style: none;
  font-size: 24px;
  cursor: pointer;

} 

/* BODY */

.info{
  margin-top: 700px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}


h1{
  /* margin-top: 150px; */
  margin-left: 60px;
}

.title_container p{
  margin-left: 60px;
  color: #7c838a;
  font-weight: 900;
}

h2{
  background-color:#161b22;
  display: inline-block; /* Pour limiter le fond au contenu du h2 */
  padding: 10px 20px 5px 240px;
  margin-left: auto;
  color: white; text-shadow: 2px 2px 4px #0000FF;
  margin-top: 150px;
  margin-bottom: 150px;
}

.skill-category{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#161b22;
  border-radius: 10px; /* Coins arrondis */
  width: 15%; /* Largeur de la box */
  margin: 0 auto; /* Centrer la box horizontalement */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Ombre pour un effet 3D */
  padding: 10px;
}

.skill-category {
  transition: transform 0.5s;
  transform-style: preserve-3d;
  perspective: 1000px; /* Cela ajoute de la profondeur à l'effet de rotation */
}

.skills-items{
  
  height: auto;
  
}

.skill  {
  background: radial-gradient(
    ellipse farthest-corner at 90% 60%, /* Centre */
    rgba(44,26,48,1),
    #0d1117, /* Se fond dans la couleur d'origine */
    #0d1117
  );
}

ul{
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  
}

.skill-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  
}

.robot{
  position: relative;
  
}

.card {
  background-color:#161b22;
  
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 20px 16px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_container{
  display: flex;
  gap: 20px;
  text-align: center;
 flex-wrap: wrap;
}

.card img {
  width: 100%; /* Largeur de l'image ajustée à la largeur de la carte */
  height: auto; /* Hauteur ajustée automatiquement */
  border-radius: 5px; /* Rayon de l'arrondi des coins de l'image */
 
}

.container img{
  width: 90px;
 
}

.card {
    
    border-radius: 10px; /* Rayon de l'arrondi des coins de la carte */
    padding: 20px 20px 150px 20px; /* Espace intérieur de la carte */
    margin: 10px auto; /* Espacement autour des cartes et centrage */
    text-align: center; /* Alignement du texte et de l'image */
    width: 25%; /* Largeur de la carte */
    max-width: 700px; /* Largeur maximale de la carte */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Ombre pour un effet 3D */
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.card p{
  color: #7c838a;
}

span{
  color: white;
}



.aura {
  position: absolute;
  pointer-events: none; /* Empêche l'aura d'interférer avec les éléments en dessous */
  border-radius: 50%;
  width: 900px;
  height: 900px;
  background: radial-gradient(circle, rgba(44,26,48,1) 1%, #161b22 57%);
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  opacity: 0;
  z-index: -1;
  
}

a{
  text-decoration: none;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background:  #161b22;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #FFF;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form .form-group label {
  display: block;
  margin-bottom: 5px;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(255, 105, 180, 0.4);
  color:black;
  font-weight:900;
  font-size: 16px;
  width: calc(100% - 20px); /* Ajuster selon le padding/bordure */
    padding: 10px;
    border: 1px solid #ccc; /* Exemple de bordure */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 105, 180, 0.4);
    box-sizing: border-box;
}

.contact-form .form-group textarea {
  height: 100px;
}

.contact-form button {
  font-size: 24px;
  font-weight: 800;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, rgba(44,26,48,1) 1%, #161b22 57%);
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px black(0, 0, 255, 0.4);
  
}

.contact-form button:hover {
  background: linear-gradient(to left, #950cd6 0%, #8912d1 100%);
}

footer{
  background-color: #161b22;
}

.logo img{
  width: 70px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

footer p{
  font-size: 16px;
  padding: 15px;
  display: flex;
  justify-content: center;
}

/* RESPONSIVE MOBILE */


@media screen  and (max-width: 768px) {

  body {
    font-size: 18px; /* Taille de police plus petite pour les mobiles */
}

.header-container nav {
    flex-direction: column;
    align-items: center;
}

header ul {
    flex-direction: column;
    gap: 10px;
}

.image3D {
    height: 50%;
    width: 90%;
    margin-left: 5%;
}

.title_container, .skill-category, .contact-form {
    padding: 10px;
    margin: 0 10px;
}

.skill-container {
    flex-direction: column;
    align-items: center;
}

.card_container {
    flex-direction: column;
}

.card {
    width: 100%;
    margin: 10px 0;
}

footer .logo {
    flex-direction: column;
    gap: 10px;
}
}

@media screen and (max-width: 480px) {
body {
    font-size: 16px; /* Encore plus petit pour les écrans très petits */
}

.header-container nav {
    flex-direction: row;
    justify-content: space-around;
}

header ul {
    flex-direction: row;
    gap: 5px;
}

.title_container h1, .title_container p, .skill-category h3 {
    font-size: 20px; /* Taille de police ajustée pour les titres */
}

.contact-form {
    padding: 20px;
    margin: 0;
}

footer p {
    font-size: 14px;
}

.contact-form .form-group input,
    .contact-form .form-group textarea {
        width: calc(100% - 10px); /* Plus petit pour les appareils mobiles */


}

